
body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
    flex: 1;
}
 
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
    
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }

.nav-link{
    color: #222222 !important; /*this overrides bootstrap styling*/
}
/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #fefcbf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials, .f-info-links, f-info-brand{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
    
}

.f-info-socials i{
font-size: 1.35rem;
margin-right: 0.8rem;
} 

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
    color: #222222;
}

.card-img-overlay{
    opacity: 0;
} 

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* .card col{
    margin-bottom: 2rem;;
} */

/* new page */
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* Edit page form */
.edit-btn {
    border: none !important;
    color: white;
}

/* show page */
.show-img {
    height: 35vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}